/* zrt-cssregistry: */

@media all {
    .tabs-pad {
        float: left;
        padding-right: 50px;
        width: 240px;
    }


.nav-tabs > li {
    display: block;
    position: relative;
    margin: 0px;

}

.nav-tabs > li > a {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-image: none !important;
    border-right: medium none !important;
    box-shadow: none;
    color: #4D4D4D;
    display: block;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 9px 30px 10px 0;
    text-align: left;
    white-space: pre-line;
}

.nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:focus {
    background: none repeat scroll 0 0 #EB5F53;
    border-color: rgba(0, 0, 0, 0) -moz-use-text-color -moz-use-text-color !important;
    border-right: medium none !important;
    box-shadow: none;
    color: #FFFFFF;
    margin: 0;
    padding: 9px 30px 10px 20px;
    border-radius: 4px 0 0 4px;
    border-image: none;
    cursor: default;
}

.nav-tabs > li:hover:after, .nav-tabs > li.active:after, .nav-tabs > li.active:hover:after, .nav-tabs > li.active:focus:after, .nav-tabs > li:focus {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #EB5F53;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    content: "";
    height: 0;
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
}

.tab-content {
    margin: -6px 0 0;
    padding-top: 0 !important;
    text-align: left;
    width: 400px;
}
.tab-content > div {
    display: none;
}
div.active {
    display: block;
}



/* edit form */
.z-form-field .multi-widget .row {
  background: #fff url(portlet-imagerotator/images/sprite.png) -145px 2px no-repeat;
  border: 1px solid #D3D3D3;
  margin: 0 0 3px 0!important;
  padding: 3px 3px 3px 17px;
}
.z-form-field .closed,
.z-form-field .open {
  background: url(portlet-imagerotator/images/sprite.png) 730px -18px no-repeat;
}
.z-form-field .open {
  background-position: 747px -34px;
}
.z-form-field .object-widget {
  clear: both;
  overflow: hidden;
}
.z-form-field .multi-widget-input .label,
.z-form-field .multi-widget-input .widget {
  margin: 3px 0;
}
.z-form-field .multi-widget-input .label {
  float: left;
  width: 10%;
  clear: both;
}
.z-form-field .multi-widget-input .widget {
  width: 90%;
  float: right;
}
.z-form-field .multi-widget-input .option .label {
  float: none;
}
.z-form-field .multi-widget .z-form-field {
  margin-top: 0;
}
.z-form-field .imagefield-field {
  margin-top: 4px;
}
.z-form .z-form-field .object-widget input,
.wizard .z-form-field .x-html-editor-wrap {
  margin-left: 0px!important;
 }
.wizard .z-form-field .x-html-editor-wrap {
  width: 598px!important;
}






}
