/* zrt-cssregistry: */

@media all {

.tabs-header {
    border-bottom: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}
.bullet {
    background-color: #F7F7F7;
}
.tabs-pad {
    float: left;
    padding-right: 20px;
    width: 175px;
    display: table;
    padding-left: 10px;
}
.page-nav-tabs > li {
    display: block;
    position: relative;
    margin: 0;
    float: inherit !important;
}
.tab-content {
    margin: -6px 0 0;
    padding-top: 0 !important;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    display: table;
}
.tab-content > div {
    display: none;
}
.page-nav-tabs > li > a {
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    padding: 4px 30px 3px 8px;
    white-space: pre-line;
    color: #2D2C2C;
}
.page-nav-tabs > li > a:active {
    color: #FFFFFF !important;
}
.page-nav-tabs > li > a:hover,
.page-nav-tabs > li.active > a,
.page-nav-tabs > li.active > a:hover,
.page-nav-tabs > li.active > a:focus,
.page-nav-tabs > li > a:focus {
    background: none repeat scroll 0 0 #bd2418 !important;
    border-right: medium none !important;
    color: #FFFFFF;
    margin: 0;
    border-radius: 4px 0 0 4px;
    border-image: none;
    cursor: default;
}
.page-nav-tabs > li:hover:after,
.page-nav-tabs > li.active:after,
.page-nav-tabs > li.active:hover:after,
.page-nav-tabs > li.active:focus:after,
.page-nav-tabs > li:focus {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #bd2418 !important;
    border-style: solid;
    border-width: 13px 0 13px 13px;
    content: "";
    height: 0;
    position: absolute;
    right: -13px;
    top: 0;
    width: 0;
}
div.active {
    display: block;
}

/* edit form */
.z-form-field .multi-widget .row {
  background: #fff url(portlet-imagerotator/images/sprite.png) -145px 2px no-repeat;
  border: 1px solid #D3D3D3;
  margin: 0 0 3px 0!important;
  padding: 3px 3px 3px 17px;
}
.z-form-field .closed,
.z-form-field .open {
  background: url(portlet-imagerotator/images/sprite.png) 730px -18px no-repeat;
}
.error.z-form-field .closed,
.error.z-form-field .open{
  background: url(portlet-imagerotator/images/sprite.png) 695px -18px no-repeat;
}
.z-form-field .open {
  background-position: 747px -34px;
}
.error.z-form-field .open {
  background-position: 712px -34px;
}
.z-form-field .object-widget {
  clear: both;
  overflow: hidden;
}
.z-form-field .multi-widget-input .label,
.z-form-field .multi-widget-input .widget {
  margin: 3px 0;
}
.z-form-field .multi-widget-input .label {
  float: left;
  width: 10%;
  clear: both;
}
.z-form-field .multi-widget-input .widget {
  width: 90%;
  float: right;
}
.z-form-field .multi-widget-input .option .label {
  float: none;
}
.z-form-field .multi-widget .z-form-field {
  margin-top: 0;
}
.z-form-field .imagefield-field {
  margin-top: 4px;
}
.z-form .z-form-field .object-widget input,
.wizard .z-form-field .x-html-editor-wrap {
  margin-left: 0px!important;
 }
.wizard .z-form-field .x-html-editor-wrap {
  width: 598px!important;
}
.z-form-field .error {
    position: relative !important;
}
}
